#wrapper{
    display:flex;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.mygrid{
    display: grid;
    width: 80%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

h2{
    text-align: center;
}

p{   
    text-align: center;
    }


img{
    height: 429px;
    width: 316;

    margin-left: auto;
    margin-right: auto;
}